{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
    <div id="home-header"">
        <div class="jumbotron">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div id="header-title" class="col-md-6">
                        <h1>Snowtricks</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            {% for i in 1..3 %}
                <div class="col">
                    <div class="card">
                        <img src="https://picsum.photos/300/300" alt="image of trick" class="img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">Super Chaise en bois</h4>
                            <p class="cart-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias,
                                natus.</p>
                            <a href="#" class="btn btn-primary btn-sm">Détails</a>
                            <a href="#" class="btn btn-success btn-sm">Ajouter</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
