{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}

<div class="container reset-password">
    <p>
        Si un compte correspondant à votre username existe,
        les instructions pour réinitialiser votre mot de passe vous ont été envoyées à votre email que vous avez indiqué lorsque votre inscription.
{#       Ce lien sera expiré dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.#}
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
</div>
    {% endblock %}
