<h1>Bonjour</h1>

<p>Pour réinitialiser votre mot de passe,
    vous pouvez le faire en suivant ce lien.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<!--<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
-->

