{% extends 'base.html.twig' %}

{% block title %}Redéfinir mon mot de passe{% endblock %}

{% block body %}
<div class="container reset-password">
    <h2>Redéfinir mon mot de passe</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
