html {
  height: 100%;
}

body {
  color: #023047;
}

/*h1, h2, h3, h4, h5 {*/
/*  color: #3c6e71  ;*/
/*}*/

/* Home page */
.jumbotron {
  min-height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../images/snowboard-2.jpeg") no-repeat fixed;
  background-size: cover;
  position: relative;
}

.header-title {
  position: absolute;
  left: 30%;
  top: 55%;
  text-align: center;
}

.all-tricks {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  padding: 25px 50px;
}

.trick-card {
  width: 350px;
  margin: 25px 25px 0;
  /*border: solid #edf2f4;*/
  /*border-radius: 8px;*/
}

.card-image {
  width: 350px;
  height: 250px;
}

#show-trick {
  margin: 40px 20px 30px;
  padding: 20px 10px;
}

a {
  text-decoration: none;
  /*  color: #FA9421;*/
}

/* Trick detail page */
.info-trick {
  width: 1000px;
  margin: 0 auto 40px;
}

.first-image {
  width: 100%;
  border-radius: 20px;
}

.main-image {
  position: relative;
  background-color: #edf2f4;
  border-radius: 20px;
}

.btn-trick {
  display: inline-flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*.btn-trick-delete, .btn-trick-edit {*/
/*  background-color: white;*/
/*  border-radius: 10px;*/
/*  opacity: 70%;*/
/*}*/

i {
  color: #023047;
}

.trick-details, .trick-images, .trick-videos, .trick-description, .comments, .comment-form {
  background-color: #edf2f4;
  border-radius: 10px;
  padding: 20px 30px;
}

.trick-details {
  display: flex;
  justify-content: space-between;
}

.comment-form {
  margin: 10px 0;
  text-align: end;
}

.comment {
  display: flex;

}

.btn-comment {
  margin: 20px 0 0;
}

.btn {
  border-radius: 5px;
}
