html {
  height: 100%;
}
body {
  color: #023047;
}

a {
  text-decoration: none;
  /*  color: #FA9421;*/
}

.alert {
  width: 1000px;
  margin: 0 auto;
}

.homepage-alert {
  width: 100%;
}
/*h1, h2, h3, h4, h5 {*/
/*  color: #3c6e71  ;*/
/*}*/

/***********************************/
/******** Home page ********/
/***********************************/
.jumbotron {
  height:calc(100vh - 6.4rem);
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../images/snowboard-2.jpeg") no-repeat fixed;
  background-size: cover;
  position: relative;
}

.header-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  text-align: center;
}

.arrow-down-button {
  position: absolute;
  bottom: 20px;
  right: 30px;
}


.arrow-up-button{
  position: absolute;
  bottom: 10px;
  right: 30px;
}


/***********************************/
/******** List of all tricks ********/
/***********************************/
.tricks {
  position: relative;
}

.all-tricks {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  padding: 25px 50px;
}

.trick-card {
  width: 350px;
  margin: 25px 25px 0;
  background-color: #edf2f4;
  border-radius: 10px;
}

.card-image {
  width: 350px;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card-title {
  text-transform: uppercase;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.btn-trick-modify a {*/
/*  margin-left: 25px;*/
/*}*/

.btn-trick-modify{
  display: flex;
  align-items: center;
}
/*#show-trick {*/
/*  margin: 40px 20px 30px;*/
/*  padding: 20px 10px;*/
/*}*/

.btn-trick-del {
padding: 0;
  border: 0;
  margin-left: 20px;
  align-self: stretch;
}
/***********************************/
/******** Trick detail page ********/
/***********************************/
.info-trick {
  width: 1000px;
  margin: 0 auto 40px;
}

.main-image {
  position: relative;
  background-color: #edf2f4;
  border-radius: 20px;
}

.first-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.btn-trick {
  display: inline-flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn-trick-delete, .btn-trick-edit {
  background-color: white;
  border-radius: 10px;
  opacity: 70%;
}

i {
  color: #023047;
}

.trick-details, .images, .trick-videos, .trick-description, .comments, .comment-form {
  background-color: #edf2f4;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 20px 0;
}

.trick-details {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  margin: 0;
}

.file-media img {
  width: 250px;
  height: 150px;
  border-radius: 10px 10px 0 0;
  margin: 0.5em 2em;
}

.comment-form {
  margin: 10px 0;
  text-align: end;
}

.trick-description textarea {
  min-height: 400px;
}

.comment {
  display: flex;

}

.btn-comment {
  margin: 20px 0 0;
}

.btn {
  border-radius: 5px;
}

.comment-form textarea {
  min-height: 110px;
}


/*** Carousel ****/
.trick-images, #images-to-upload, .videos {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
}


/***********************************/
/***** Registration, login pages ***/
/***********************************/
.registration, .login {
  width: 500px;
}

.registration .form-group, .login .form-group {
  margin: 15px 0;
}


/***********************************/
/********** Profile page ***********/
/***********************************/
.photo-profile, .user-picture {
  border: 1px #ddd;
  border-radius: 10px;
  width: 120px;
  height: 110px;
  object-fit: cover;
}
