<div class="comments">
    {% if trick.comments | length <= 0 %}
        <p>Commencer la discussion.</p>
    {% endif %}

    <div class="comment-form">

        {% if app.user %}
            {% include "comment/form/_form.html.twig" %}
        {% else %}
            <h4>Vous ne pouvez pas commenter si vous n'ètes pas connecté</h4>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </div>


    <h4> {{ trick.comments| length }} commentaires:</h4>
    {% if trick.comments | length > 0 %}
        {{ render(path('comment_page_with_limit', {trickId: trick.id, page: 1, limit: 5})) }}
        <span class="text-center w-100 row">
			<a href="#" class="btn btn-light mx-auto w-75" id="loadmore">
				<i class="fas fa-spinner"></i>
				Load more messages</a>
		</span>
    {% endif %}
</div>