{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
<section class="info-trick">
        {{ include('trick/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a href="{{ path('home') }}">back to list</a>
        {% embed "trick/_delete_form.html.twig" %}
                {% set btn = '<button class="btn btn-outline-danger btn-lg">Supprimer</button>' %}
        {% endembed %}
</section>

{% endblock %}

{% block javascript %}
{#  <script src="{{ asset('js/media.js') }}"></script> #}
{% endblock %}