{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <section class="info-trick">
{#        <h1>Créer nouveau trick</h1>#}
        {{ include('trick/_form.html.twig') }}

        <a href="{{ path('home') }}">back to list</a>
    </section>

{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('js/video.js') }}"></script>
{% endblock %}