{% extends 'base.html.twig' %}

{% block title %}Modification du profile de {{ user.username }}{% endblock %}

{% block body %}
    {% include('shared/_alert.html.twig') %}

    <div class="container login">
        <h3>Modification du profile de
            {% if user.fullName is not empty %}
                {{ user.fullName }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </h3>
        {{ include('user/_edit_profile_form.html.twig') }}
    </div>


{% endblock %}
